<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.pro.alarm.dao.AlarmDao">

	<select id="select_job_sch" parameterType="JobSchInfoDto" resultType="JobSchInfoDto">
		SELECT 	  DEVER_ID 	   												/*개발자ID*/
				, CUST_ID	  							 					/*고객ID  */
				, SQNO		   												/*일련번호  */
				, TO_CHAR(SET_TM,'YYYYMMDD HH24MISS') AS SET_TM	 	  		/*설정시간  */
				, JOB_CD	   												/*작업코드  */
				, CHK_YN	   												/*확인여부  */
				, TO_CHAR(LST_CHK_TS,'YYYYMMDD HH24MISS.FF6') AS LST_CHK_TS /*최종확인일시*/
				, WK_ITV_RULE                                               /*주간규칙*/
				, ST_MTH                                                    /*시작월*/
				, ED_MTH                                                    /*종료월*/
				, DEL_YN	   												/*삭제여부  */
				, TO_CHAR(PC_TS,'YYYYMMDD HH24MISS.FF6') AS PC_TS			/*처리일시*/
				, TO_CHAR(FST_PC_TS,'YYYYMMDD HH24MISS.FF6') AS FST_PC_TS	/*최초처리일시*/
				, LUPD_CNT	   												/*최종수정수 */
		FROM	TS001_JOB_SCH
		<where>
			<if test="dever_id != null"		>DEVER_ID 		= #{dever_id}</if>
			<if test="cust_id != null"		>AND CUST_ID 	= #{cust_id}</if>
			<if test="sqno != null"			>AND SQNO 		= #{sqno}</if>
			<if test="set_tm != null"		>AND SET_TM 	= TO_TIMESTAMP(#{set_tm},'YYYYMMDD HH24MI')</if>
			<if test="job_cd != null"		>AND JOB_CD 	= #{job_cd}</if>
			<if test="chk_yn != null"		>AND CHK_YN 	= #{chk_yn}</if>
			<if test="lst_chk_ts != null"	>AND LST_CHK_TS = TO_TIMESTAMP(#{lst_chk_ts},'YYYYMMDD HH24MISS.FF6')</if>
			<if test="wk_itv_rule != null"	>AND WK_ITV_RULE= #{wk_itv_rule}</if>
			<if test="st_mth != null"		>AND ST_MTH 	= #{st_mth}</if>
			<if test="ed_mth != null"		>AND ED_MTH 	= #{ed_mth}</if>
			<if test="del_yn != null"		>AND DEL_YN 	= #{del_yn}</if>
			<if test="pc_ts != null"		>AND PC_TS 		= TO_TIMESTAMP(#{pc_ts},'YYYYMMDD HH24MISS.FF6')</if>
			<if test="fst_pc_ts != null"	>AND FST_PC_TS 	= TO_TIMESTAMP(#{fst_pc_ts},'YYYYMMDD HH24MISS.FF6')</if>
			<if test="lupd_cnt != null"		>AND LUPD_CNT 	= #{lupd_cnt}</if>
		</where>
	</select>
	
	<insert id="ins_job_sch" parameterType="JobSchInfoDto">
		<selectKey keyProperty="sqno" resultType="int" order="BEFORE">
		SELECT 	NVL(MAX(SQNO),0) + 1 AS SQNO 
		FROM 	TS001_JOB_SCH 
		WHERE 	DEVER_ID	= #{dever_id}
		AND		CUST_ID		= #{cust_id}
		</selectKey>
		INSERT INTO	TS001_JOB_SCH(
							  DEVER_ID 	   /*개발자ID	*/
							, CUST_ID	   /*고객ID  */
							, SQNO		   /*일련번호  */
							, SET_TM	   /*설정시간  */
							, JOB_CD	   /*작업코드  */
							<if test="chk_yn != null"		>, CHK_YN	   /*확인여부  */</if>
							<if test="lst_chk_ts != null"	>, LST_CHK_TS   /*최종확인일시*/</if>
							<if test="wk_itv_rule != null"	>, WK_ITV_RULE  /*주간규칙*/</if>
							<if test="st_mth != null"		>, ST_MTH       /*시작월*/</if>
							<if test="ed_mth != null"		>, ED_MTH       /*종료월*/</if>
							<if test="del_yn != null"		>, DEL_YN	   /*삭제여부  */</if>
							<if test="pc_ts != null"		>, PC_TS		   /*처리일시  */</if>
							<if test="fst_pc_ts != null"	>, FST_PC_TS	   /*최초처리일시*/</if>
							<if test="lupd_cnt != null"		>, LUPD_CNT	   /*최종수정수 */</if>
							)
					VALUES(
							  #{dever_id}
							, #{cust_id}
							, #{sqno}
							, TO_TIMESTAMP(#{set_tm},'YYYYMMDD HH24MI')
							, #{job_cd}
							<if test="chk_yn != null"		>, #{chk_yn}</if>
							<if test="lst_chk_ts != null"	>, #{lst_chk_ts}</if>
							<if test="wk_itv_rule != null"	>, #{wk_itv_rule}</if>
							<if test="st_mth != null"		>, #{st_mth}</if>
							<if test="ed_mth != null"		>, #{ed_mth}</if>
							<if test="del_yn != null"		>, #{del_yn}</if>
							<if test="pc_ts != null"		>, #{pc_ts}</if>
							<if test="fst_pc_ts != null"	>, #{fst_pc_ts}</if>
							<if test="lupd_cnt != null"		>, #{lupd_cnt}</if>
							)
	</insert>
	
	<insert id="insJobSch" parameterType="JobSchInfoDto">
		<selectKey keyProperty="sqno" resultType="int" order="BEFORE">
		SELECT 	NVL(MAX(SQNO),0) + 1 AS SQNO 
		FROM 	TS001_JOB_SCH 
		WHERE 	DEVER_ID	= #{dever_id}
		AND		CUST_ID		= #{cust_id}
		</selectKey>
		INSERT INTO	TS001_JOB_SCH(
							  DEVER_ID 	   /*개발자ID	*/
							, CUST_ID	   /*고객ID  */
							, SQNO		   /*일련번호  */
							, SET_TM	   /*설정시간  */
							, JOB_CD	   /*작업코드  */
							, CHK_YN	   /*확인여부  */
							, LST_CHK_TS   /*최종확인일시*/
							<if test="wk_itv_rule != null">, WK_ITV_RULE  /*주간규칙*/</if>
							<if test="st_mth != null">, ST_MTH       /*시작월*/</if>
							<if test="ed_mth != null">, ED_MTH       /*종료월*/</if>
							, DEL_YN	   /*삭제여부  */
							, PC_TS		   /*처리일시  */
							, FST_PC_TS	   /*최초처리일시*/
							, LUPD_CNT	   /*최종수정수 */
							)
					VALUES(
							  #{dever_id}
							, #{cust_id}
							, #{sqno}
							, TO_TIMESTAMP(#{set_tm},'YYYYMMDD HH24MI')
							, #{job_cd}
							, 'N'
							, TO_TIMESTAMP('00010101 000000.000000','YYYYMMDD HH24MISS.FF6')
							<if test="wk_itv_rule != null">, #{wk_itv_rule}</if>
							<if test="st_mth != null">, LPAD(#{st_mth},2,'0')</if>
							<if test="ed_mth != null">, LPAD(#{ed_mth},2,'0')</if>
							, 'N'
							, SYSTIMESTAMP
							, SYSTIMESTAMP
							, 1
							)
	</insert>
	
	<update id="updJobSch" parameterType="JobSchInfoDto">
		UPDATE	TS001_JOB_SCH
		<set>
			<if test="set_tm != null"		>SET_TM 		= TO_TIMESTAMP(#{set_tm},'YYYYMMDD HH24MI')</if>
			<if test="job_cd != null"		>,JOB_CD 		= #{job_cd}</if>
			<if test="chk_yn != null"		>,CHK_YN 		= #{chk_yn}</if>
			<if test="lst_chk_ts != null"	>,LST_CHK_TS 	= TO_TIMESTAMP(#{lst_chk_ts},'YYYYMMDD HH24MISS.FF6')</if>
			<if test="wk_itv_rule != null"	>,WK_ITV_RULE	= #{wk_itv_rule}</if>
			<if test="st_mth != null"		>,ST_MTH			= #{st_mth}</if>
			<if test="ed_mth != null"		>,ED_MTH			= #{ed_mth}</if>
			<if test="del_yn != null"		>,DEL_YN 		= #{del_yn}</if>
			<if test="true"					>,PC_TS 			= SYSTIMESTAMP</if>
			<if test="true"					>,LUPD_CNT 		= (SELECT NVL(MAX(LUPD_CNT),0) + 1 AS LUPD_CNT
																FROM TS001_JOB_SCH 
																WHERE   DEVER_ID    = #{dever_id}
																AND     CUST_ID     = #{cust_id}
																AND     SQNO        = #{sqno})</if>
		</set>
		WHERE   DEVER_ID    = #{dever_id}
		AND     CUST_ID     = #{cust_id}
		AND     SQNO        = #{sqno}
		AND		DEL_YN			= 'N'
	</update>
	
	<delete id="delJobSch" parameterType="JobSchInfoDto">
		DELETE 
		FROM    TS001_JOB_SCH 
		WHERE   DEVER_ID    = #{dever_id}
		AND     CUST_ID     = #{cust_id}
		AND     SQNO        = #{sqno}
	</delete>

	<select id="srchDataChgYn" parameterType="JobSchInfoDto" resultType="int">
		SELECT	COUNT(DEVER_ID)
		FROM	TS001_JOB_SCH
		WHERE	DEVER_ID 	= #{dever_id}
		AND		CUST_ID		= #{cust_id}
		AND		SQNO		= #{sqno}
		AND		LUPD_CNT	= #{lupd_cnt}
		AND		DEL_YN		= 'N'
	</select>
	
	<select id="srchJobChkYn" parameterType="JobSchInfoDto" resultType="int">
		SELECT	COUNT(DEVER_ID)
		FROM	TS001_JOB_SCH
		WHERE	DEVER_ID 	= #{dever_id}
		AND		CUST_ID		= #{cust_id}
		AND		SQNO		= #{sqno}
		AND		CHK_YN		= 'N'
		AND		DEL_YN		= 'N'
	</select>
	
	<select id="srchJobSchLst" parameterType="java.util.Map" resultType="JobSchInfoDto">
		SELECT 	  DEVER_ID 	   												/*개발자ID*/
				, CUST_ID	  							 					/*고객ID  */
				, SQNO		   												/*일련번호  */
				, TO_CHAR(SET_TM,'HH24MISS') AS SET_TM	   					/*설정시간  */
				, JOB_CD	   												/*작업코드  */
				, CHK_YN	   												/*확인여부  */
				, TO_CHAR(LST_CHK_TS,'YYYYMMDD HH24MISS.FF6') AS LST_CHK_TS /*최종확인일시*/
				, WK_ITV_RULE                                               /*주간규칙*/
				, ST_MTH                                                    /*시작월*/
				, ED_MTH                                                    /*종료월*/
				, DEL_YN	   												/*삭제여부  */
				, TO_CHAR(FST_PC_TS,'YYYYMMDD HH24MISS.FF6') AS FST_PC_TS	/*최초처리일시*/
				, TO_CHAR(PC_TS,'YYYYMMDD HH24MISS.FF6') AS PC_TS			/*처리일시*/
				, LUPD_CNT	   												/*최종수정수 */
		FROM	TS001_JOB_SCH
		WHERE	DEVER_ID 	= #{dever_id}
		<if test="cust_id != null">
		AND		CUST_ID 	= #{cust_id}
		</if>
		<if test="stdt != null and eddt != null">
		AND		PC_TS BETWEEN TO_TIMESTAMP(Regexp_Replace(#{stdt},'[^0-9]',''),'YYYYMMDD') AND TO_TIMESTAMP(Regexp_Replace(#{eddt},'[^0-9]',''),'YYYYMMDD')
		</if>
		<if test="job_cd != null">
		AND		JOB_CD = #{job_cd}
		</if>
		<if test='delay_chk == "Y"'>
		AND		CHK_YN		= 'N'
		AND		TO_CHAR(SET_TM,'HH24MISS') &lt; TO_CHAR(SYSTIMESTAMP,'HH24MISS')
		AND		DEL_YN 		= 'N'
		</if>
		<if test="orderby_col != null and orderby_type != null">
		ORDER BY
		<choose>
			<when test="orderby_col == 'cust_id'">CUST_ID</when>
			<when test="orderby_col == 'set_tm'">SET_TM</when>
			<when test="orderby_col == 'job_cd'">JOB_CD</when>
			<otherwise>CHK_YN</otherwise>
		</choose>
		<choose>
			<when test="orderby_type == 'desc'"> DESC</when>
			<otherwise> ASC</otherwise>
		</choose>
		</if>
		
	</select>
	
</mapper>